.btn-length
{
  margin-right: 5px;
}
.text-muted {
  color: #df0e27 !important;
}
.p-dropdown-filter
{
  padding-right: 11.5rem!important;
}
.p-card .p-card-title  {
  background-color:black #eee !important;
}
