<p-toast></p-toast>
<!-- prime table-->
<div class="p-grid p-m-2">
  <div class="p-col">
  <!-- <p-messages [value]="msgs"></p-messages> -->
  <!-- <p-table #dt1 [value]="primevendors" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [rowHover]="true" [autoLayout]="true" [filterDelay]="0"
    [globalFilterFields]="['name']" columnResizeMode="expand" [reorderableColumns]="true"
    styleClass="p-datatable-clients  p-datatable-gridlines " [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} primevendors"
    [globalFilterFields]="['name']">

    <ng-template pTemplate="caption">

      <div class="p-d-flex">
        <button pButton label="Clear" class="p-button-outlined p-mr-4" icon="pi pi-filter-slash"
          (click)="clear(dt1)"></button>
        <div class=" p-d-flex p-ai-center p-jc-between">Implementation Partners</div>

        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" class="p-mr-4" (input)="dt1.filterGlobal($event.target.value, 'contains')"
            placeholder="Search keyword" />
        </span>
        <button pButton pRipple label="Add Partner" icon="pi pi-plus" class="p-button-success p-mr-2"
          (click)="openNew()"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>

        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Action
          </div>
        </th>

        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Implementation Partner Name

            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Created By
            <p-columnFilter type="text" field="user?.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Created at

          </div>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client let-expanded="expanded">
      <tr>

        <td>

          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(client)"></button>


        </td>

        <td>
          {{client.name}}
        </td>
        <td>
          {{client.user?.name}}
        </td>
        <td>
          {{client.created_at | date}}
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No Prime Vendors found.</td>
      </tr>
    </ng-template>

  </p-table> -->
  <p-table #dt1 [value]="primevendors" dataKey="name" [rows]="10" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [rowHover]="true" [autoLayout]="true" [filterDelay]="0"
  [globalFilterFields]="['name']" columnResizeMode="expand" [reorderableColumns]="true"
  styleClass="p-datatable-clients  p-datatable-gridlines " [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} primevendors"
  [globalFilterFields]="['name']">

  <ng-template pTemplate="caption">

    <div class="p-d-flex">
      <button pButton label="Clear" class="p-button-outlined p-mr-4" icon="pi pi-filter-slash"
        (click)="clear(dt1)"></button>
      <div class=" p-d-flex p-ai-center p-jc-between">Implementation Partners</div>

      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" class="p-mr-4" (input)="dt1.filterGlobal($event.target.value, 'contains')"
          placeholder="Search keyword" />
      </span>
      <button pButton pRipple label="Add Partner" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="openNew()"></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Action
        </div>
      </th>

      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
         Partner Name
          <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
        LinkedIn URL
          <p-columnFilter type="text" field="linkedin_url" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
         No.of Employees
          <p-columnFilter type="text" field="numberofemployees" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Created By
          <p-columnFilter field="userId" matchMode="in" display="menu" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="header">
            <div class="p-px-3 p-pt-3 p-pb-0">
              <span class="p-text-bold">Created By</span>
            </div>
          </ng-template>
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="userList" placeholder="Any"
              (onChange)="filter($event.value)" >
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{option.label}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Created at

        </div>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="client" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
    </td>
      <td>

        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(client)"></button>
        <!--  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
      (click)="deleteProduct(consultant)"></button> -->

      </td>

      <td>
        {{client.name}}
      </td>
      <td>
        {{client.linkedin_url}}
      </td>
      <td>
        {{client.numberofemployees}}
      </td>
      <td>
        {{client.user?.name}}
      </td>
      <td>
        {{client.created_at | date}}
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No Prime Vendors found.</td>
    </tr>
  </ng-template>
  <ng-template  pTemplate="rowexpansion" let-client>
    <tr>
        <td colspan="7">
            <div class="p-p-3">
                <p-table [value]="client.contacts" dataKey="vendor_company_contact_id">
                    <ng-template pTemplate="header">
                        <tr>

                            <th>Contact Name</th>
                            <th>Contact Email</th>
                            <th>Contact Mobile Number </th>
                            <th>Ext</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contact>
                        <tr>

                            <td>{{contact.contactName}}</td>
                            <td>{{contact.contactEmail}}</td>
                            <td>{{contact.contactMobile}}</td>
                            <td>{{contact.ext}}</td>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="6">There are no Contacts.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </td>
    </tr>
</ng-template>

</p-table>
</div>
</div>
<p-dialog [(visible)]="technologyDialog" [style]="{width: '50vw'}" [baseZIndex]="10000" header="Implementation Partner Details"
  [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="content">
    <form [formGroup]="clientsForm" (ngSubmit)="updateConsultantDetails()" enctype="multipart/form-data">

      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col">
          <label for="lastname1">Implementation Partner Name:</label>
          <input type="text" pInputText id="name" formControlName="name" />
          <small class="p-invalid" *ngIf="submitted && !name">Implementation Partner Name Required</small>
        </div>

      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-7">
          <div class="form-group">
            <label> Partner Company LinkedIn URL:</label>
            <input type="email" class="form-control" formControlName="linkedin_url" placeholder="Partner Company LinkedIn URL">
            <div *ngIf="linkedin_url.invalid && (linkedin_url.dirty || linkedin_url.touched)"
              class="form-text text-muted">
              <div *ngIf="linkedin_url.errors?.required">
                LinkedIn URL is required.
              </div>
            </div>
            <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.linkedin_url }}</small>
          </div>
        </div>
        <div class="p-field p-col-5">
          <div class="form-group">
            <label>Partner No.of employees in LinkedIn:</label>
            <input pInputText  class="form-control"  formControlName="numberofemployees" placeholder=" No.of employees" />


            <div *ngIf="numberofemployees.invalid && (numberofemployees.dirty || numberofemployees.touched)"
              class="form-text text-muted">
              <div *ngIf="numberofemployees.errors?.required">
               Nof Of employees is required.
              </div>
            </div>
            <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.numberofemployees }}</small>

          </div>
        </div>



      </div>
      <div class="p-field">

        <button type="submit" class="btn btn-primary btn-round" [disabled]="!clientsForm.valid">
           {{created_Client}}</button>
      </div>

    </form>
  </ng-template>
  <ng-template pTemplate="footer">
  </ng-template>


</p-dialog>
<p-dialog [(visible)]="companydetailsDialog" [style]="{width: '50vw'}" [baseZIndex]="10000" header="Company Details"
  [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="content">
    <form [formGroup]="companyForm" (ngSubmit)="registerVendorCompany()" enctype="multipart/form-data">

      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-4">
          <label>Implementation Partner:</label>
          <p-dropdown formControlName="vendorType"  optionValue="value" placeholder="Choose Requirement" [options]="requirement" [style]="{'width':'100%'}"
            scrollHeight="400px" filter="true" filterBy="label,value" resetFilterOnHide="true"></p-dropdown>

        </div>

          <div class="p-field p-col-4">
            <div class="form-group">
              <label>Implementation Partner Name:</label>
              <input pInputText type="text" class="form-control" formControlName="vendorCompanyName" placeholder="Implementation Partner Name">
              <div *ngIf="vendorCompanyName.invalid && (vendorCompanyName.dirty || vendorCompanyName.touched)"
                class="form-text text-muted">
                <div *ngIf="vendorCompanyName.errors?.required">
                  Company Name is required.
                </div>
              </div>
              <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.name }}</small>

            </div>
          </div>
          <div class="p-field p-col-4">
            <div class="form-group">
              <label>Vendor Name:</label>
              <input type="text" class="form-control" formControlName="contactName" placeholder="Vendor Contact Name">

            </div>
          </div>

         </div>
         <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-7">
            <div class="form-group">
              <label> Partner Company LinkedIn URL:</label>
              <input type="email" class="form-control" formControlName="linkedin_url" placeholder="Vendor Company LinkedIn URL">
              <div *ngIf="linkedin_url.invalid && (linkedin_url.dirty || linkedin_url.touched)"
                class="form-text text-muted">
                <div *ngIf="linkedin_url.errors?.required">
                  LinkedIn URL is required.
                </div>
              </div>
              <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.linkedin_url }}</small>
            </div>
          </div>
          <div class="p-field p-col-5">
            <div class="form-group">
              <label>Partner No.of employees in LinkedIn:</label>
              <input pInputText  class="form-control"  formControlName="numberofemployees" placeholder=" No.of employees" />


              <div *ngIf="numberofemployees.invalid && (numberofemployees.dirty || numberofemployees.touched)"
                class="form-text text-muted">
                <div *ngIf="numberofemployees.errors?.required">
                 Nof Of employees is required.
                </div>
              </div>
              <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.numberofemployees }}</small>

            </div>
          </div>



        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-4">
            <div class="form-group">
              <label> Email:</label>
              <input type="email" class="form-control" formControlName="contactEmail" placeholder="Vendor Contact Email">
              <div *ngIf="contactEmail.invalid && (contactEmail.dirty || contactEmail.touched)"
                class="form-text text-muted">
                <div *ngIf="contactEmail.errors?.required">
                  Email is required.
                </div>
              </div>
              <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.contactEmail }}</small>
            </div>
          </div>
                  <div class="p-field p-col-4">
                    <div class="form-group">
                      <label>Mobile Number:</label>
                      <p-inputMask formControlName="contactMobile" placeholder="(999) 999-9999" mask="(999) 999-9999"></p-inputMask>

                      <div *ngIf="contactMobile.invalid && (contactEmail.dirty || contactMobile.touched)"
                        class="form-text text-muted">
                        <div *ngIf="contactMobile.errors?.required">
                          Mobile Number is required.
                        </div>
                      </div>
                      <small class="form-text text-muted" *ngIf="serverErrors">{{ serverErrors.contactMobile }}</small>

                    </div>
                  </div>
                  <div class="p-field p-col-4">
                    <div class="form-group">
                      <label> EXT:</label>
                      <input type="number" class="form-control" formControlName="ext" placeholder="EXT">
                    </div>
                  </div>


              </div>
      <div class="p-field">

        <button type="submit" class="btn btn-primary btn-round" [disabled]="!companyForm.valid">
           Create </button>
      </div>

    </form>
  </ng-template>
  <ng-template pTemplate="footer">
  </ng-template>


</p-dialog>
